			<div id="secondary">
				<div class="header">
					<div class="logo">
					      <section class="left-small">
        <a class="fa fa-navicon" id="menu-toggle"></a>
      </section>

						<h1 class="site-title">
							<a href="#" rel="home">
								ALXS DESIGN
							</a>
						</h1>
						<h2 class="site-description"></h2>
						<br>
					</div>
					<!-- End Logo -->
					<div id="site-nav">
						<div class="screen-reader-text skip-link">
							<a href="#content">Skip to content</a>
						</div>
						<div class="navigation-links">
							<dl data-accordion="" class="accordion">
								<%= link_to 'Home', root_path %>          
								<dd class="nav">
									<a class="hasContent" href="#panel1">Projects</a>
									<div id="panel1" class="content">
										<a href="#">ZURB Templates</a>           
									</div>
								</dd>
								<dd class="nav">
									<a class="hasContent" href="#panel2">Link 3</a>
									<div id="panel2" class="content">
										<a href="#">Link 3-1</a>            
										<a href="#">Link 3-2</a>      
									</div>
								</dd>
								<%= link_to 'About', about_path %>          
								<%= link_to 'Contact', contact_path %>          
								<%= link_to 'Privacy', privacy_path %>          
								<%= link_to 'Terms', terms_path %>          
							</dl>
						</div>
					</div>
					<!-- End Site Nav -->
					<div class="header-bottom">
						<div id="header-bottom-shape" class="">
						</div>
					</div>
				</div>
			</div>

