<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "ALXS | Web Design" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto+Condensed%3A400%2C300%2C300italic%2C400italic%2C700%2C700italic&#038;ver=3.9.3' type='text/css' media='all' />
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C700&#038;ver=3.9.3' type='text/css' media='all' />
    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<div id="page">
		<div id="wrapper">
		  <%= render 'layouts/navigation' %>
			<%= render 'layouts/main' %>
		</div>
	</div>
    <%= javascript_include_tag "application" %>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
